@media (max-width: 767px) {
  .sl-list-wrapper:nth-child(1n+2) {
    clear: left;
  }
}

@media (min-width:768px) and (max-width: 991px) {
  .sl-list-wrapper:nth-child(2n+3) {
    clear: left;
  }
}
@media (min-width: 992px) {
  .sl-list-wrapper:nth-child(3n+4) {
    clear: left;
  }  
}