.main-header > .logo {
	border-right: none !important;
}

.main-sidebar {
	position: fixed !important;
}

.sidebar-toggle {
    border-left: 1px solid #d2d6de;
}

.main-footer {
	border-bottom: 1px solid #d2d6de;
}

.error-404-page .main-footer {
	margin-left: 0px;
}

a.disabled,
i.disabled {
	color: #808080;
	cursor: not-allowed;
}